/*RESET CSS*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*BARRA DE NAVEGACION (BOOTSTRAP)*/

.contenedor-nav {
  background-color: white;
  padding: 5px 30px;
}

.contenedor-texto .navbar-brand,
.contenedor-texto .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: black;
  font-family: "Montserrat";
  font-weight: 550;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.contenedor-nav .navbar-toggler {
  border: none;
}

/*SECTION INICIO - HERO*/

.section-inicio {
  background: radial-gradient(circle, rgba(255, 250, 215, 1) 0%, rgba(190, 240, 100, 1) 50%, rgba(169, 235, 125, 1) 64%, rgba(100, 220, 210, 1) 100%);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.inicio-contenido h1 {
  color: black;
  font-family: "Montserrat";
  font-size: 9vh;
  font-weight: 600;
  letter-spacing: 10px;
  text-align: center;
  line-height: 1.2;
}

.inicio-contenido h1:hover {
  animation: tracking-in-contract 1.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: 10px;
    opacity: 1;
  }
}

.contenedor-inicio-name-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  padding: 10px;
}

.inicio-name {
  font-size: 2vh;
  font-family: "Montserrat";
  font-weight: 550;
  color: black;
  text-align: left;
}

.inicio-year {
  font-size: 2vh;
  font-family: "Montserrat";
  font-weight: 550;
  color: black;
}

.inicio-future {
  font-size: 2vh;
  font-family: "Montserrat";
  font-weight: 500;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 40px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 15px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.inicio-future:hover {
  transform: scale(1.1);
}

.inicio-scroll {
  max-width: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 40px;
  border: 1px solid black;
  border-radius: 15px;
  animation: scroll 1s alternate infinite;
}

@keyframes scroll {
  from {
    bottom: 0px;
  }

  to {
    bottom: 30px;
  }
}

/* RESPONSIVE INICIO */

@media (min-width: 768px) {
  .inicio-scroll {
    width: 30px;
  }
}

@media (max-width: 767px) {
  .section-inicio h1 {
    font-size: 7.5vh;
  }

  .inicio-scroll {
    width: 25px;
    margin: 10px;
  }

  .inicio-future {
    margin: 10px;
  }
}

@media (max-width: 320px) {
  .section-inicio h1 {
    font-size: 6vh;
  }

  .inicio-name,
  .inicio-year {
    font-size: 1.6vh;
  }

  .inicio-future {
    font-size: 1.6vh;
  }

  .inicio-scroll {
    width: 20px;
    margin: 20px;
  }
}

/*SECTION SOBRE MI*/

.section-sobre-mi {
  padding: 40px;
}

.sobre-mi-principio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  margin-top: 30px;
  margin-bottom: 40px;
  gap: 30px;
}

.sobre-mi-principio h3 {
  background: radial-gradient(circle, rgb(243, 229, 125) 0%, rgba(190, 240, 100, 1) 50%, rgba(169, 235, 125, 1) 64%, rgba(100, 220, 210, 1) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Montserrat";
  font-size: 5vh;
  font-weight: 700;
  line-height: 1.2;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.sobre-mi-principio h3:hover {
  transform: scale(1.1);
}

.sobre-mi-principio img {
  max-width: 700px;
}


/* RESPONSIVE SOBRE MI (IMAGEN Y FRASE) */

@media (min-width: 1024px) {
  .sobre-mi-principio img {
    max-width: 600px;
  }
}

@media (min-width:768px) and (max-width: 1023px) {
  .sobre-mi-principio img {
    max-width: 400px;
  }

  .sobre-mi-principio h3 {
    font-size: 4vh;
  }
}

@media (max-width: 767px) {
  .sobre-mi-principio img {
    max-width: 300px;
    margin-bottom: 30px;
  }

  .sobre-mi-principio {
    flex-direction: column;
  }
}

/*SOBRE MI ARMADO DE GRID*/

.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/*SOBRE MI - CARD PRESENTACION*/

.card-presentacion {
  border-radius: 15px;
  border: 1px solid rgb(226, 226, 226);
  background: linear-gradient(90deg, rgba(235, 142, 28, 1) 0%, rgba(230, 247, 114, 1) 49%, rgba(170, 255, 84, 1) 84%);
  position: relative;
  padding: 5px;
  height: 100%;
  background-size: 200% 200%;
  animation: girar 2s linear infinite;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.card-presentacion:hover {
  transform: scale(1.05);
  z-index: 1;
}


.contenido-presentacion {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}

@keyframes girar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.card-presentacion h3 {
  background: radial-gradient(circle, rgb(243, 229, 125) 0%, rgba(190, 240, 100, 1) 50%, rgba(169, 235, 125, 1) 64%, rgba(100, 220, 210, 1) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Montserrat";
  text-align: end;
  font-size: 2.5vh;
  font-weight: 550;
  margin-bottom: 30px;
}

.card-presentacion p {
  font-family: "Montserrat";
  font-weight: 550;
  font-size: 2vh;
  text-align: justify;
}

/*SOBRE MI - CARD FORMACION*/

.card-formacion {
  border-radius: 15px;
  border: 1px solid rgb(226, 226, 226);
  background: linear-gradient(90deg, rgba(166, 235, 28, 1) 0%, rgba(230, 250, 97, 1) 49%, rgba(255, 178, 84, 1) 89%);
  position: relative;
  height: 100%;
  padding: 5px;
  background-size: 200% 200%;
  animation: girar 2s linear infinite;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.card-formacion:hover {
  transform: scale(1.05);
  z-index: 1;
}


.contenido-formacion {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}

.card-formacion h3 {
  background: radial-gradient(circle, rgb(243, 229, 125) 0%, rgba(190, 240, 100, 1) 50%, rgba(169, 235, 125, 1) 64%, rgba(100, 220, 210, 1) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Montserrat";
  text-align: end;
  font-size: 2.5vh;
  font-weight: 550;
  margin-bottom: 30px;
}

.card-formacion p {
  font-family: "Montserrat";
  font-weight: 550;
  font-size: 2vh;
  text-align: justify;
}

/*SOBRE MI - CARD INTERESES*/

.card-intereses {
  border-radius: 15px;
  border: 1px solid rgb(226, 226, 226);
  background: linear-gradient(90deg, rgba(235, 232, 28, 1) 0%, rgba(250, 204, 97, 1) 49%, rgba(127, 255, 84, 1) 89%);
  position: relative;
  height: 100%;
  padding: 5px;
  background-size: 200% 200%;
  animation: girar 2s linear infinite;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.card-intereses:hover {
  transform: scale(1.05);
  z-index: 1;
}

.contenido-intereses {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}

.card-intereses h3 {
  background: radial-gradient(circle, rgb(243, 229, 125) 0%, rgba(190, 240, 100, 1) 50%, rgba(169, 235, 125, 1) 64%, rgba(100, 220, 210, 1) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Montserrat";
  text-align: end;
  font-size: 2.5vh;
  font-weight: 550;
  margin-bottom: 30px;
}

.card-intereses p {
  font-family: "Montserrat";
  font-weight: 550;
  font-size: 2vh;
  text-align: justify;
}

/*SECTION PROYECTOS*/

.section-proyectos h2 {
  background: radial-gradient(circle, rgb(243, 229, 125) 0%, rgba(190, 240, 100, 1) 50%, rgba(169, 235, 125, 1) 64%, rgba(100, 220, 210, 1) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Montserrat";
  font-size: 5vh;
  font-weight: 700;
  line-height: 1.2;
  padding: 20px;
  text-align: center;
}

.contenedor-proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.contenedor-proyectos img {
  max-width: 300px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.contenedor-proyectos img:hover {
  transform: scale(1.1);
}

/* RESPONSIVE PROYECTOS IMAGENES */

@media (min-width: 1024px) {
  .contenedor-proyectos img {
    max-width: 300px;
  }
}

@media (min-width:768px) and (max-width: 1023px) {
  .contenedor-proyectos img {
    max-width: 200px;
  }
}

@media (max-width: 767px) {
  .contenedor-proyectos img {
    max-width: 200px;
    margin-bottom: 30px;

  }

  .section-proyectos h2 {
    font-size: 4.5vh;
    text-align: center;
  }

  .contenedor-proyectos {
    flex-direction: column;
    gap: 5px;
  }
}

/*SECTION HABILIDADES*/

.section-habilidades {
  background: linear-gradient(90deg, rgba(79, 154, 184, 1) 0%, rgba(106, 247, 165, 1) 49%, rgba(242, 231, 126, 1) 84%);
  margin-top: 50px;
  padding: 40px;
}

.section-habilidades h2 {
  color: white;
  font-family: "Montserrat";
  font-size: 5vh;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.contenedor-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.contenedor-imagenes img {
  max-width: 200px;
}

.contenedor-imagenes img:hover {
  transform: scale(1.3);
}

.contenedor-imagenes h4 {
  font-size: 15px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  color: rgba(255, 255, 255, 0.685);
}

/* RESPONSIVE HABILIDADES LOGOS */

@media (min-width: 1024px) {
  .contenedor-imagenes img {
    max-width: 150px;
  }
}

@media (min-width:768px) and (max-width: 1023px) {
  .contenedor-imagenes img {
    max-width: 100px;
  }
}

@media (max-width: 767px) {
  .contenedor-imagenes img {
    max-width: 100px;
    margin-bottom: 30px;
  }

  .contenedor-imagenes {
    flex-direction: column;
    gap: 0px;
  }

  .section-habilidades h2 {
    font-size: 4.5vh;
    text-align: center;
  }
}

/*SECTION FOOTER CONTACTO*/

footer {
  background-color: white;
  border-top: 2px solid rgb(173, 255, 152);
  margin-top: 40px;
}

.contenedor-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  justify-content: space-around;
  margin: 40px;
  margin-top: 80px;
  font-family: "Montserrat";
  color: rgb(117, 117, 117);
  gap: 30px;
}

.contenedor-footer h3 {
  font-size: 1.3vh;
  font-weight: 600;
}

.contenedor-footer p,
.text-input {
  font-size: 1.2vh;
  font-weight: 400;
  color: rgb(117, 117, 117);
  font-weight: 500;
}

.button-mensaje {
  font-size: 1.2vh;
  font-weight: 400;
  color: rgb(117, 117, 117);
  font-weight: 500;
  padding: 3px;
  border-radius: 10px;
  border-color: rgb(206, 206, 206);
  background-color: rgb(255, 255, 255);
}

.contenedor-redes h3 {
  text-align: center;
  font-size: 1.3vh;
  font-family: "Montserrat";
  font-weight: 600;
  color: rgb(117, 117, 117);
}

.contenedor-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-logos img {
  max-width: 70px;
}

/* RESPONSIVE FOOTER LOGOS */

@media (min-width: 1024px) {
  .contenedor-logos img {
    max-width: 70px;
  }
}

@media (min-width:768px) and (max-width: 1023px) {
  .contenedor-logos img {
    max-width: 50px;
  }
}

@media (max-width: 767px) {
  .contenedor-logos img {
    max-width: 40px;
    margin-bottom: 30px;
  }
}