* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
}

header {
  background: #ecebe6;
}

.header-content {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: #574cff;
}

header h2 {
  font-weight: 600;
}

.header-button {
  background: none;
  border: none;
  font-weight: 600;
  color: #574cff;
  font-size: 25px;
}

.lista-navegacion {
  visibility: hidden;
  display: none;
  position: absolute;
  right: 20px;
  z-index: 1;
  transition: width 5s, height 2s, transform 2s;
  background-color: #eff25a;
  color: #574cff;
  border: 3px solid #ef5c2b;
  padding: 70px;
  line-height: 40px;
  list-style-type: none;
  font-weight: 600;
}

.header-navegacion:hover .lista-navegacion {
  visibility: visible;
  display: block;
}


.inicio {
  background: #ecebe6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.inicio-name h1 {
  color: #574cff;
  margin: 50px;
  margin-left: 300px;
  font-size: 100px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 4px;
}

.inicio-name h2 {
  margin: 50px;
  margin-top: -40px;
  margin-left: 500px;
  font-size: 20px;
  color: #574cff;
  background-color: #eff25a;
  padding: 10px;
  border: 2px solid #574cff;
}


.contenedor-imagen {
  position: relative;
  width: fit-content;
}

.inicio-rectangulo {
  width: 400px;
  height: 450px;
  background-color: #eff25a;
  border: 2px solid #574cff;
  z-index: 0;
  position: relative;
  margin: 50px;
  margin-right: 300px;
}

.inicio img {
  width: 400px;
  height: 400px;
  border: 3px dotted #ef5c2b;
  margin: 50px;
  margin-right: 300px;
  position: absolute;
  z-index: 1;
  top: 135px;
  right: 90px;
}

.sobre-mi {
  background-color: #ef5c2b;
  padding: 50px;
}

.sobre-mi h2 {
  color: #ecebe6;
  font-size: 80px;
  margin: 20px;
  margin-left: 250px;
  margin-bottom: 40px;
}

.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.presentacion {
  background-color: #ecebe6;
  border: 3px solid #574cff;
  padding: 20px;
  color: #574cff;
}

.presentacion h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.presentacion p {
  line-height: 25px;
  margin-bottom: 26px;

}

.formacion {
  background-color: #ecebe6;
  border: 3px solid #574cff;
  padding: 20px;
  color: #574cff;
}

.formacion h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.formacion p {
  line-height: 25px;
}

.intereses {
  background-color: #ecebe6;
  border: 3px solid #574cff;
  padding: 20px;
  color: #574cff;
}

.intereses h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.intereses p {
  line-height: 25px;
}

.proyectos {
  background-color: #eff25a;
  padding: 50px;
}

.proyectos h2 {
  color: #574cff;
  font-size: 80px;
  margin: 20px;
  margin-left: 250px;
  margin-bottom: 40px;
}

.contenedor-proyectos {
  background-color: #ecebe6;
  border: 4px dotted #ef5c2b;
  height: 400px;
  margin-left: 250px;
  margin-right: 250px;
}